In [ ]:
library(tidyverse)

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.4     ✔ readr     2.1.5
✔ forcats   1.0.0     ✔ stringr   1.5.1
✔ ggplot2   3.5.1     ✔ tibble    3.2.1
✔ lubridate 1.9.3     ✔ tidyr     1.3.1
✔ purrr     1.0.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

In [3]:
# read data
data <- read.csv('./source/csv/ESQUBR21.csv')

NameError: name 'data' is not defined

In [ ]:
data %>% count(ID_AGRAVO)

  ID_AGRAVO n
1 A90       939762

In [ ]:
# visualize data
data %>% head
data %>% colnames

  TP_NOT ID_AGRAVO DT_NOTIFIC SEM_NOT NU_ANO SG_UF_NOT ID_MUNICIP ID_REGIONA
1 2      A90       2024-01-05 202401  2024   12        120020     1941
2 2      A90       2024-01-18 202403  2024   12        120020     1941
3 2      A90       2024-01-24 202404  2024   12        120020     1941
4 2      A90       2024-01-03 202401  2024   12        120033     1941
5 2      A90       2024-01-14 202403  2024   12        120033     1941
6 2      A90       2024-02-16 202407  2024   12        120042     1941
  ID_UNIDADE DT_SIN_PRI ⋯ EVIDENCIA PLAQ_MENOR CON_FHD COMPLICA TP_SISTEMA
1 9966501    2024-01-01 ⋯ NA        NA         NA      NA       2
2 5336171    2024-01-17 ⋯ NA        NA         NA      NA       2
3 6788637    2024-01-17 ⋯ NA        NA         NA      NA       2
4 2000083    2024-01-02 ⋯ NA        NA         NA      NA       2
5 2000083    2024-01-12 ⋯ NA        NA         NA      NA       2
6 2000016    2024-02-10 ⋯ NA        NA         NA      NA       2
  NDUPLIC_N DT_DIGITA  CS_FLXRET FLXRECEBI MIGRADO_W
1 NA        2024-01-18 0         NA        NA
2 NA        2024-02-23 0         NA        NA
3 NA        2024-02-22 0         NA        NA
4 NA        2024-01-10 0         NA        NA
5 NA        2024-01-25 0         NA        NA
6 NA        2024-02-26 0         NA        NA

  [1] "TP_NOT"     "ID_AGRAVO"  "DT_NOTIFIC" "SEM_NOT"    "NU_ANO"
  [6] "SG_UF_NOT"  "ID_MUNICIP" "ID_REGIONA" "ID_UNIDADE" "DT_SIN_PRI"
 [11] "SEM_PRI"    "ANO_NASC"   "NU_IDADE_N" "CS_SEXO"    "CS_GESTANT"
 [16] "CS_RACA"    "CS_ESCOL_N" "SG_UF"      "ID_MN_RESI" "ID_RG_RESI"
 [21] "ID_PAIS"    "DT_INVEST"  "ID_OCUPA_N" "FEBRE"      "MIALGIA"
 [26] "CEFALEIA"   "EXANTEMA"   "VOMITO"     "NAUSEA"     "DOR_COSTAS"
 [31] "CONJUNTVIT" "ARTRITE"    "ARTRALGIA"  "PETEQUIA_N" "LEUCOPENIA"
 [36] "LACO"       "DOR_RETRO"  "DIABETES"   "HEMATOLOG"  "HEPATOPAT"
 [41] "RENAL"      "HIPERTENSA" "ACIDO_PEPT" "AUTO_IMUNE" "DT_CHIK_S1"
 [46] "DT_CHIK_S2" "DT_PRNT"    "RES_CHIKS1" "RES_CHIKS2" "RESUL_PRNT"
 [51] "DT_SORO"    "RESUL_SORO" "DT_NS1"     "RESUL_NS1"  "DT_VIRAL"
 [56] "RESUL_VI_N" "DT_PCR"     "RESUL_PCR_" "SOROTIPO"   "HISTOPA_N"
 [61] "IMUNOH_N"   "HOSPITALIZ" "DT_INTERNA" "UF"         "MUNICIPIO"
 [66] "TPAUTOCTO"  "COUFINF"    "COPAISINF"  "COMUNINF"   "CLASSI_FIN"
 [71] "CRITERIO"   "DOENCA_TRA" "CLINC_CHIK" "EVOLUCAO"   "DT_OBITO"
 [76] "DT_ENCERRA" "ALRM_HIPOT" "ALRM_PLAQ"  "ALRM_VOM"   "ALRM_SANG"
 [81] "ALRM_HEMAT" "ALRM_ABDOM" "ALRM_LETAR" "ALRM_HEPAT" "ALRM_LIQ"
 [86] "DT_ALRM"    "GRAV_PULSO" "GRAV_CONV"  "GRAV_ENCH"  "GRAV_INSUF"
 [91] "GRAV_TAQUI" "GRAV_EXTRE" "GRAV_HIPOT" "GRAV_HEMAT" "GRAV_MELEN"
 [96] "GRAV_METRO" "GRAV_SANG"  "GRAV_AST"   "GRAV_MIOC"  "GRAV_CONSC"
[101] "GRAV_ORGAO" "DT_GRAV"    "MANI_HEMOR" "EPISTAXE"   "GENGIVO"
[106] "METRO"      "PETEQUIAS"  "HEMATURA"   "SANGRAM"    "LACO_N"
[111] "PLASMATICO" "EVIDENCIA"  "PLAQ_MENOR" "CON_FHD"    "COMPLICA"
[116] "TP_SISTEMA" "NDUPLIC_N"  "DT_DIGITA"  "CS_FLXRET"  "FLXRECEBI"
[121] "MIGRADO_W"

In [ ]:
# remove information abount date and test
data %>% select(-c(DT_CHIK_S1:IMUNOH_N)) -> data

# remove information about place
data %>% select(-c(MUNICIPIO:COMUNINF)) -> data
data %>% select(-c(CRITERIO:CLINC_CHIK)) -> data

#remove several information, not needed
data %>% select(-c(TP_NOT:SEM_NOT)) -> data

# remove alarm since we are going to work with severe cases
data %>% select(-c(DT_ENCERRA:DT_ALRM)) -> data

In [ ]:
# filter only severe cases
data %>% count(CLASSI_FIN)
data %>% filter(CLASSI_FIN == 12) %>% count(EVOLUCAO)
data %>% filter(CLASSI_FIN == 12) -> data

# filter only cases of cure or death
data %>% filter(EVOLUCAO == 1  | EVOLUCAO == 2  | EVOLUCAO == 4 ) -> data
data %>% dim

# change evolucao to binary
data %>% mutate(death = if_else(EVOLUCAO == 1, 0, 1)) -> data
data %>% count(death)

  CLASSI_FIN n
1  1              1
2 10         426334
3 11           9474
4 12            735
5 NA         503218

  EVOLUCAO n
1  1       203
2  2       111
3  3         8
4  4       165
5  9        60
6 NA       188

[1] 479  81

  death n
1 0     203
2 1     276

In [ ]:
data %>% colnames

 [1] "NU_ANO"     "SG_UF_NOT"  "ID_MUNICIP" "ID_REGIONA" "ID_UNIDADE"
 [6] "DT_SIN_PRI" "SEM_PRI"    "ANO_NASC"   "NU_IDADE_N" "CS_SEXO"
[11] "CS_GESTANT" "CS_RACA"    "CS_ESCOL_N" "SG_UF"      "ID_MN_RESI"
[16] "ID_RG_RESI" "ID_PAIS"    "DT_INVEST"  "ID_OCUPA_N" "FEBRE"
[21] "MIALGIA"    "CEFALEIA"   "EXANTEMA"   "VOMITO"     "NAUSEA"
[26] "DOR_COSTAS" "CONJUNTVIT" "ARTRITE"    "ARTRALGIA"  "PETEQUIA_N"
[31] "LEUCOPENIA" "LACO"       "DOR_RETRO"  "DIABETES"   "HEMATOLOG"
[36] "HEPATOPAT"  "RENAL"      "HIPERTENSA" "ACIDO_PEPT" "AUTO_IMUNE"
[41] "HOSPITALIZ" "DT_INTERNA" "UF"         "CLASSI_FIN" "EVOLUCAO"
[46] "DT_OBITO"   "GRAV_PULSO" "GRAV_CONV"  "GRAV_ENCH"  "GRAV_INSUF"
[51] "GRAV_TAQUI" "GRAV_EXTRE" "GRAV_HIPOT" "GRAV_HEMAT" "GRAV_MELEN"
[56] "GRAV_METRO" "GRAV_SANG"  "GRAV_AST"   "GRAV_MIOC"  "GRAV_CONSC"
[61] "GRAV_ORGAO" "DT_GRAV"    "MANI_HEMOR" "EPISTAXE"   "GENGIVO"
[66] "METRO"      "PETEQUIAS"  "HEMATURA"   "SANGRAM"    "LACO_N"
[71] "PLASMATICO" "EVIDENCIA"  "PLAQ_MENOR" "CON_FHD"    "COMPLICA"
[76] "TP_SISTEMA" "NDUPLIC_N"  "DT_DIGITA"  "CS_FLXRET"  "FLXRECEBI"
[81] "MIGRADO_W"  "death"

In [ ]:
# inspecting data distribution according to state

data %>% count(SG_UF_NOT)

   SG_UF_NOT n
1  13          4
2  15          2
3  22          1
4  23          1
5  24          2
6  25          2
7  26          2
8  28          1
9  29          9
10 31        117
11 33         35
12 35         97
13 41         53
14 42         16
15 43          5
16 50          4
17 51         10
18 52         53
19 53         65

In [ ]:
# inspecting data distribution according year of birth
data %>% count(ANO_NASC)

# remove patients without this information
data %>% filter(!is.na(ANO_NASC)) -> data

# create a new column with age
data %>% mutate(age = 2024 - ANO_NASC) %>% count(age) %>% slice(1:15)
data %>% mutate(age = 2024 - ANO_NASC) %>% count(age) %>% tail(12)
data %>% mutate(age = 2024 - ANO_NASC) -> data

   ANO_NASC n
1  1919      1
2  1925      1
3  1927      3
4  1928      2
5  1929      1
6  1930      2
7  1931      3
8  1933      1
9  1934      8
10 1935      3
11 1936      4
12 1937      4
13 1938      3
14 1939     13
15 1940      2
16 1941      6
17 1942      6
18 1943      6
19 1944      3
20 1945     10
21 1946      7
22 1947      9
23 1948      7
24 1949      7
25 1950      5
26 1951      8
27 1952      6
28 1953      7
29 1954      6
30 1955      8
⋮  ⋮        ⋮
67 1992      7
68 1993      8
69 1994      9
70 1995      4
71 1996      2
72 1997      1
73 1998      4
74 1999      6
75 2000      6
76 2001      4
77 2002      5
78 2003      2
79 2004      6
80 2005      1
81 2006      4
82 2007     10
83 2008      1
84 2009      3
85 2010      5
86 2011      3
87 2012      5
88 2013      2
89 2014      4
90 2015      2
91 2016      1
92 2018      3
93 2020      2
94 2022      1
95 2023      8
96   NA      3

   age n
1   1   8
2   2   1
3   4   2
4   6   3
5   8   1
6   9   2
7  10   4
8  11   2
9  12   5
10 13   3
11 14   5
12 15   3
13 16   1
14 17  10
15 18   4

   age n
84  87 4
85  88 4
86  89 3
87  90 8
88  91 1
89  93 3
90  94 2
91  95 1
92  96 2
93  97 3
94  99 1
95 105 1

In [ ]:
# remove patients younger than 12 years old
data %>% filter(age > 11) -> data

In [ ]:
data %>% count(CS_SEXO)

# create a new column with numeric values
data %>% mutate(sex = if_else(CS_SEXO == 'M', 0, 1)) %>% count(sex)
data %>% mutate(sex = if_else(CS_SEXO == 'M', 0, 1)) -> data

# remove the former column
data %>% select(-CS_SEXO) -> data

  CS_SEXO n
1 F       235
2 M       218

  sex n
1 0   218
2 1   235

In [ ]:
# check the column pregnancy
data %>% count(CS_GESTANT)

#data %>% select(-CS_GESTANT) -> data

  CS_GESTANT n
1 1            1
2 3            3
3 4            1
4 5          170
5 6          256
6 9           22

In [ ]:
# transform the column pregnant in binary, orignally diferent values refer to difernt stages on pregnancy
data %>% mutate(pregnant = if_else((CS_GESTANT == 1 |
                               CS_GESTANT == 2 |
                               CS_GESTANT == 3 |
                               CS_GESTANT == 4), 1, 0)) %>% count(pregnant)


data %>% mutate(pregnant = if_else((CS_GESTANT == 1 |
                               CS_GESTANT == 2 |
                               CS_GESTANT == 3 |
                               CS_GESTANT == 4), 1, 0)) -> data

data %>% select(-CS_GESTANT) -> data

  pregnant n
1 0        448
2 1          5

In [ ]:
# remove unknown race, or na values
data %>% count(CS_RACA)

# white
data %>% mutate(white = if_else(CS_RACA == 1, 1, 0)) -> data
data %>% count(white)

# black
data %>% mutate(black = if_else(CS_RACA == 2, 1, 0)) -> data
data %>% count(black)

# parda
data %>% mutate(parda = if_else(CS_RACA == 4, 1, 0)) -> data
data %>% count(parda)

  CS_RACA n
1 1       205
2 2        27
3 3         3
4 4       173
5 5         2
6 9        43

  white n
1 0     248
2 1     205

  black n
1 0     426
2 1      27

  parda n
1 0     280
2 1     173

In [ ]:
# how many groups by age, race, city and sex
data %>% group_by(age, CS_RACA, ID_MN_RESI, sex) %>% n_groups

[1] 439

In [ ]:
# check year of schooling. 9 = unknown.
data %>% count(CS_ESCOL_N)

   CS_ESCOL_N n
1   0           6
2   1          24
3   2          15
4   3          17
5   4          22
6   5          23
7   6          70
8   7           4
9   8          21
10  9         194
11 NA          57

In [ ]:
# how many groups by age, race, city and sex
data %>% group_by(age, CS_RACA, ID_MN_RESI, sex) %>% n_groups

# create a new column with the average
data %>% group_by(age, CS_RACA, ID_MN_RESI, sex) %>% mutate(average = mean(CS_ESCOL_N, na.rm=TRUE)) %>%
    ungroup -> data

# when CS_ESCOL_N is na or 9 change by the average
data %>% mutate(CS_ESCOL_N = if_else((is.na(CS_ESCOL_N)), round(average), CS_ESCOL_N)) %>% count(CS_ESCOL_N)
data %>% mutate(CS_ESCOL_N = if_else((is.na(CS_ESCOL_N)), round(average), CS_ESCOL_N)) -> data
data %>% select(-average) -> data

# if is still NA consider groups of age, race and sex
# create a new column with the average
data %>% group_by(age, CS_RACA, sex) %>% mutate(average = mean(CS_ESCOL_N, na.rm=TRUE)) %>%
    ungroup -> data

# when CS_ESCOL_N is na change by the average
data %>% mutate(CS_ESCOL_N = if_else((is.na(CS_ESCOL_N)), round(average), CS_ESCOL_N)) %>% count(CS_ESCOL_N)
data %>% mutate(CS_ESCOL_N = if_else((is.na(CS_ESCOL_N)), round(average), CS_ESCOL_N)) -> data
data %>% select(-average) -> data

[1] 439

   CS_ESCOL_N n
1    0          6
2    1         24
3    2         15
4    3         17
5    4         22
6    5         23
7    6         71
8    7          4
9    8         21
10   9        195
11 NaN         55

   CS_ESCOL_N n
1    0          6
2    1         26
3    2         17
4    3         17
5    4         25
6    5         24
7    6         78
8    7          6
9    8         25
10   9        202
11 NaN         27

In [ ]:
# if is still na, drop it
data %>% count(CS_ESCOL_N)
data %>% filter(!(is.na(CS_ESCOL_N))) -> data
data %>% count(HOSPITALIZ)
data %>% dim

   CS_ESCOL_N n
1    0          6
2    1         26
3    2         17
4    3         17
5    4         25
6    5         24
7    6         78
8    7          6
9    8         25
10   9        202
11 NaN         27

  HOSPITALIZ n
1  1         376
2  2          37
3 NA          13

[1] 426  86

In [ ]:
data %>% colnames

 [1] "NU_ANO"     "SG_UF_NOT"  "ID_MUNICIP" "ID_REGIONA" "ID_UNIDADE"
 [6] "DT_SIN_PRI" "SEM_PRI"    "ANO_NASC"   "NU_IDADE_N" "CS_RACA"
[11] "CS_ESCOL_N" "SG_UF"      "ID_MN_RESI" "ID_RG_RESI" "ID_PAIS"
[16] "DT_INVEST"  "ID_OCUPA_N" "FEBRE"      "MIALGIA"    "CEFALEIA"
[21] "EXANTEMA"   "VOMITO"     "NAUSEA"     "DOR_COSTAS" "CONJUNTVIT"
[26] "ARTRITE"    "ARTRALGIA"  "PETEQUIA_N" "LEUCOPENIA" "LACO"
[31] "DOR_RETRO"  "DIABETES"   "HEMATOLOG"  "HEPATOPAT"  "RENAL"
[36] "HIPERTENSA" "ACIDO_PEPT" "AUTO_IMUNE" "HOSPITALIZ" "DT_INTERNA"
[41] "UF"         "CLASSI_FIN" "EVOLUCAO"   "DT_OBITO"   "GRAV_PULSO"
[46] "GRAV_CONV"  "GRAV_ENCH"  "GRAV_INSUF" "GRAV_TAQUI" "GRAV_EXTRE"
[51] "GRAV_HIPOT" "GRAV_HEMAT" "GRAV_MELEN" "GRAV_METRO" "GRAV_SANG"
[56] "GRAV_AST"   "GRAV_MIOC"  "GRAV_CONSC" "GRAV_ORGAO" "DT_GRAV"
[61] "MANI_HEMOR" "EPISTAXE"   "GENGIVO"    "METRO"      "PETEQUIAS"
[66] "HEMATURA"   "SANGRAM"    "LACO_N"     "PLASMATICO" "EVIDENCIA"
[71] "PLAQ_MENOR" "CON_FHD"    "COMPLICA"   "TP_SISTEMA" "NDUPLIC_N"
[76] "DT_DIGITA"  "CS_FLXRET"  "FLXRECEBI"  "MIGRADO_W"  "death"
[81] "age"        "sex"        "pregnant"   "white"      "black"
[86] "parda"

In [ ]:
data %>% count(SEM_PRI)
data %>% mutate(week = SEM_PRI - 202400) -> data

  SEM_PRI n
1 202401  43
2 202402  60
3 202403  41
4 202404  77
5 202405  73
6 202406  78
7 202407  43
8 202408  11

In [ ]:
data$dt_severity <- as.Date(data$DT_GRAV)
data$dt_death <- as.Date(data$DT_OBITO)
data %>% mutate(days = difftime(dt_death, dt_severity, units = 'days')) -> data
data$days <- as.numeric(data$days)
data %>% count(days)

   days  n
1  -1456   1
2  -1087   1
3   -181   1
4    -31   1
5    -27   1
6     -8   1
7      0  61
8      1  55
9      2  35
10     3  21
11     4   3
12     5   7
13     6  12
14     7   8
15     8   6
16     9   7
17    10   6
18    11   2
19    12   1
20    15   1
21    17   2
22    18   1
23    19   1
24    22   1
25    40   1
26    NA 189

In [ ]:
data %>% filter (days < 0) %>% select(dt_death, dt_severity)

  dt_death   dt_severity
1 2024-02-07 2027-01-29
2 2024-01-23 2024-01-31
3 2024-01-28 2024-07-27
4 2024-02-02 2024-02-29
5 2024-01-24 2024-02-24
6 2024-02-14 2028-02-09

In [ ]:
data %>% select(-c(NU_ANO, ID_MUNICIP:CS_RACA, SG_UF:ID_OCUPA_N, HOSPITALIZ, DT_OBITO, MANI_HEMOR:MIGRADO_W,
                   DT_INTERNA:EVOLUCAO, dt_severity, dt_death, DT_GRAV, DT_OBITO)) -> data

In [ ]:
data %>% dim

[1] 426  47

In [ ]:
data %>% count(SG_UF_NOT)

   SG_UF_NOT n
1  13          3
2  15          2
3  23          1
4  24          1
5  25          2
6  26          2
7  29          8
8  31        103
9  33         21
10 35         93
11 41         51
12 42         14
13 43          4
14 50          3
15 51         10
16 52         51
17 53         57

In [ ]:
# south
data %>% mutate(south = if_else((SG_UF_NOT >= 41  & SG_UF_NOT <= 43), 1, 0)) -> data
data %>% count(south)

# south_e
data %>% mutate(south_e = if_else((SG_UF_NOT >= 31  & SG_UF_NOT <= 35), 1, 0)) -> data
data %>% count(south_e)


# north
data %>% mutate(north = if_else((SG_UF_NOT < 18), 1, 0)) -> data
data %>% count(north)

# north_e
data %>% mutate(north_e = if_else((SG_UF_NOT >= 20  & SG_UF_NOT <= 30), 1, 0)) -> data
data %>% count(north_e)

# center_w
data %>% mutate(center_w = if_else((SG_UF_NOT > 49), 1, 0)) -> data
data %>% count(center_w)

data %>% select(-c(SG_UF_NOT)) -> data

  south n
1 0     357
2 1      69

  south_e n
1 0       209
2 1       217

  north n
1 0     421
2 1       5

  north_e n
1 0       412
2 1        14

  center_w n
1 0        305
2 1        121

In [ ]:
data %>% colnames

 [1] "CS_ESCOL_N" "FEBRE"      "MIALGIA"    "CEFALEIA"   "EXANTEMA"
 [6] "VOMITO"     "NAUSEA"     "DOR_COSTAS" "CONJUNTVIT" "ARTRITE"
[11] "ARTRALGIA"  "PETEQUIA_N" "LEUCOPENIA" "LACO"       "DOR_RETRO"
[16] "DIABETES"   "HEMATOLOG"  "HEPATOPAT"  "RENAL"      "HIPERTENSA"
[21] "ACIDO_PEPT" "AUTO_IMUNE" "GRAV_PULSO" "GRAV_CONV"  "GRAV_ENCH"
[26] "GRAV_INSUF" "GRAV_TAQUI" "GRAV_EXTRE" "GRAV_HIPOT" "GRAV_HEMAT"
[31] "GRAV_MELEN" "GRAV_METRO" "GRAV_SANG"  "GRAV_AST"   "GRAV_MIOC"
[36] "GRAV_CONSC" "GRAV_ORGAO" "death"      "age"        "sex"
[41] "pregnant"   "white"      "black"      "parda"      "week"
[46] "days"       "south"      "south_e"    "north"      "north_e"
[51] "center_w"

In [ ]:
data %>% select(-days) -> data
data %>% count(death)

  death n
1 0     178
2 1     248

In [ ]:
# the value 2 means the non-occurrence of a symptom, change this to 0
data %>% select(FEBRE:GRAV_ORGAO) -> symptoms
data %>% select(!(FEBRE:GRAV_ORGAO)) -> others

symptoms %>% head

symptoms <- symptoms %>%
  mutate_all(~ ifelse(. == 2, 0, .))

symptoms %>% head

symptoms %>% cbind(others) -> data

  FEBRE MIALGIA CEFALEIA EXANTEMA VOMITO NAUSEA DOR_COSTAS CONJUNTVIT ARTRITE
1 1     1       1        1        1      1      1          2          2
2 1     1       2        2        1      2      2          2          2
3 1     2       1        2        2      2      2          2          2
4 1     1       1        2        1      1      1          2          2
5 1     1       2        2        1      2      2          1          2
6 2     1       2        2        1      1      2          2          2
  ARTRALGIA ⋯ GRAV_EXTRE GRAV_HIPOT GRAV_HEMAT GRAV_MELEN GRAV_METRO GRAV_SANG
1 2         ⋯ 2          2          2          2          2          2
2 2         ⋯ 2          2          1          2          2          2
3 2         ⋯ 2          2          2          2          2          2
4 2         ⋯ 2          2          2          1          2          2
5 2         ⋯ 2          2          2          2          2          2
6 1         ⋯ 2          1          2          2          2          2
  GRAV_AST GRAV_MIOC GRAV_CONSC GRAV_ORGAO
1 2        2         2          2
2 2        2         2          2
3 2        2         2          2
4 2        2         2          2
5 1        2         2          1
6 2        2         1          2

  FEBRE MIALGIA CEFALEIA EXANTEMA VOMITO NAUSEA DOR_COSTAS CONJUNTVIT ARTRITE
1 1     1       1        1        1      1      1          0          0
2 1     1       0        0        1      0      0          0          0
3 1     0       1        0        0      0      0          0          0
4 1     1       1        0        1      1      1          0          0
5 1     1       0        0        1      0      0          1          0
6 0     1       0        0        1      1      0          0          0
  ARTRALGIA ⋯ GRAV_EXTRE GRAV_HIPOT GRAV_HEMAT GRAV_MELEN GRAV_METRO GRAV_SANG
1 0         ⋯ 0          0          0          0          0          0
2 0         ⋯ 0          0          1          0          0          0
3 0         ⋯ 0          0          0          0          0          0
4 0         ⋯ 0          0          0          1          0          0
5 0         ⋯ 0          0          0          0          0          0
6 1         ⋯ 0          1          0          0          0          0
  GRAV_AST GRAV_MIOC GRAV_CONSC GRAV_ORGAO
1 0        0         0          0
2 0        0         0          0
3 0        0         0          0
4 0        0         0          0
5 1        0         0          1
6 0        0         1          0

In [ ]:
sum(!complete.cases(data))

[1] 21

In [ ]:
data <- na.omit(data)

In [ ]:
data %>% dim
data %>% unique %>% dim

[1] 405  50

[1] 405  50

In [ ]:
data %>% dim
data %>% count(death)

[1] 405  50

  death n
1 0     176
2 1     229

In [ ]:
colSums(data, na.rm = TRUE)
data %>% select(-ACIDO_PEPT) -> data

     FEBRE    MIALGIA   CEFALEIA   EXANTEMA     VOMITO     NAUSEA DOR_COSTAS
       317        295        250         37        181        185         96
CONJUNTVIT    ARTRITE  ARTRALGIA PETEQUIA_N LEUCOPENIA       LACO  DOR_RETRO
         8         36         87         46         79         22         84
  DIABETES  HEMATOLOG  HEPATOPAT      RENAL HIPERTENSA ACIDO_PEPT AUTO_IMUNE
        67         15          9         20        138          0         12
GRAV_PULSO  GRAV_CONV  GRAV_ENCH GRAV_INSUF GRAV_TAQUI GRAV_EXTRE GRAV_HIPOT
        96         52         64         87        145        156        124
GRAV_HEMAT GRAV_MELEN GRAV_METRO  GRAV_SANG   GRAV_AST  GRAV_MIOC GRAV_CONSC
        57         63         29         15         33         16        133
GRAV_ORGAO CS_ESCOL_N      death        age        sex   pregnant      white
        39       2721        229      22591        211          5        188
     black      parda       week      south    south_e      north    north_e
        25        152       1706         69        206          5         11
  center_w
       114

In [ ]:
data %>% select(FEBRE:CS_ESCOL_N, age:center_w, death) -> data

In [ ]:
# Assuming df is your data frame
colnames(data) <- c("fever", "myalgia", "headache",
                  "rash", "vomiting", "nausea",
                  "back_pain", "conjunctivitis", "arthritis",
                  "arthralgia", "petechiae_n", "leukopenia",
                  "lace", "retroorbital_pain", "diabetes",
                  "hematological_diseases", "hepatopathy", "chronic_kidney_disease",
                  "hypertension", "autoimmune_disease", "weak_pulse",
                  "convergent_pressure", "capillary_time", "fluid_accumulation",
                  "tachycardia", "cold_extremities", "hypotension",
                  "hematemesis", "melena", "metrorrhagia",
                  "cns_bleeding", "AST/ALT_ratio", "myocarditis",
                  "consciousness", "other_organs", "education", "age",
                  "sex", "pregnant", "white",
                  "black", "parda", "week",
                  "south", "southeast", "north",
                  "northeast", "central_west", "death")

In [ ]:
data %>% select(-c(fever: retroorbital_pain)) -> data

In [ ]:
data %>% write_csv('death_dengue_24.csv')

In [ ]:
data %>% dim

[1] 405  35